*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
} 
:root{
    --main-color1:#F6F5F1; 
    /* --main-color2:#F6F5F1; */ 
    --main-color2:#080806; 
    --main-color3:#DDCA67;
    --main-color4:#DBC761;
    --main-color5:#F1E28C; 
    --main-color6:#0A0702; 
    --main-color7:#090906; 
    --main-color8:#090601; 
    --main-clash-grotesk-r:"clash-Grotesk-Regular";  
    --main-arlita-r:"Arlita-regular" ;  
    --main-clash-display-r:"ClashDisplay-regular"; 
    --transition:all 0.4s linear;


} 
@font-face {
    font-family:"clash-Grotesk-Regular";
    src: url(fonts/ClashGrotesk_Complete/ClashGrotesk_Complete/Fonts/OTF/ClashGrotesk-Regular.otf) format(opentype);
} 
@font-face {
    font-family:"Arlita-regular" ;
    src: url(fonts/arlita/Arlita.otf) format(opentype);
} 
@font-face {
    font-family: "ClashDisplay-regular";
    src: url(fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf) format(opentype);
} 

ul li{
    list-style: none;
}

.container{
    max-width:1520px ; 
    margin: 0 auto;
} 
.cmn-gap{
    padding: 112px 0;
}
.cmn-gap1{
    margin-top: 51px;
} 
.cmn-gap2{
    margin-top: 37px;
} 
.cmn-gap3{
    margin-bottom: 55px;
} 
.cmn-gap4{
    margin: 110px 0;
}  
.cmn-gap6{
    margin-right: 8px;
}
.cmn-gap5{
    margin-bottom: 91px ;
} 

html{
    scroll-behavior: smooth;
} 
body{
 background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(img/plane.png);
 background-position: center;
 background-repeat: repeat-y;
 background-size: contain;
min-height: 100vh;

}
h1,.h1-title{
     font-family: var(--main-arlita-r);
    font-weight: 500;
    font-size: 80px;
    max-width: 828px;  
    color: var(--main-color1);
    text-transform: capitalize;

 
   
} 
h2,.h2-title{
    font-family: var(--main-arlita-r); 
    font-size: 60px; 
    font-weight: 500;
    text-transform: capitalize; 
    color: var(--main-color1);
}  
h3, .h3-title{
    font-family: var(--main-arlita-r);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--main-color1);
} 
h4,.h4-title{
    font-family: var(--main-arlita-r);
    font-weight: 400;
    font-size: 50px;
    text-transform: capitalize; 
    color: var(--main-color1);
}
 
figure{
    display: block;
}
/* starting  navabar */ 
.header{
    background-color: var(--main-color2);
 
} 

.nav-item  a{
 color: var(--main-color1); 
 font-family: var(--main-clash-display-r); 
 font-weight: 500;
 font-size: 20px;
 text-transform: capitalize;  
 /* border-bottom: 2px solid transparent ;  */
 transition: all 0.3s ease-in;
position: relative; 
margin-right: 47px;

} 
.nav-item a:hover{
    color: var(--main-color3); 
    /* border-bottom: 2px solid var(--main-color3);  */
    transform: scale(0.9);
}   
/* create design */
.nav-item a:hover::after{
      position: absolute;
    content: ""; 
    width: 10px;
    height: 15px;
   
    right: -12px;
    bottom: -8px;
    border-bottom: 2px solid var(--main-color3) ; 
    border-right:2px solid var(--main-color3) ;  
    
     transform: scale(0.9);
   
} 
.nav-item a:hover::before{
       position: absolute;
    content: ""; 
    width: 10px;
    height: 15px; 
   left: -12px;
top: -8px;
border-top: 2px solid var(--main-color3) ; 
    border-left:2px solid var(--main-color3) ; 
     transform: scale(0.9);
}
.color {
    color: var(--main-color1); 
    max-width: 35px;
    height: 35px; 
    transition: all 0.3s ease-in;
}  
.color:hover{
    color: var(--main-color3);
}
.color2{
    color: var(--main-color3);
} 
.logo{
    max-width: 169px; 
    display: block;
}
/* banner section */
.hero-banner{
   background-image:
/* linear-gradient(
to left,
rgba(254,255,255,0.1)29%,
rgba(100,100,100,0.2)67%
) , linear-gradient(to top, rgba(255,255,255,0.1)78% , rgba(0,0,0,0.1)88%),  */
url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 800px;
      display: flex;
    align-items: center;

} 
.cmn-p{
    font-family: var(--main-clash-grotesk-r); 
    font-weight: 400; 
    font-size: 22px;  
    margin: 37px 0 51px;
    /* text-align: justify;  */
    max-width: 661px;
    color: var(--main-color1);
} 
.cmn-btn{
    padding: 16px; 
    background-color: var(--main-color2); 
    /* opacity: 0.45;  */
    border-radius: 33px; 
    border: solid 2px transparent; 
    background:   linear-gradient(#000, #000) padding-box,linear-gradient(-12deg , #DDCA67 , #030303 , #0C0C0B , #DDCA67) border-box; 
  
    font-family: var(--main-arlita-r); 
    font-weight: 400; 
    font-size: 24px;
    color: var(--main-color3);
    text-transform: capitalize; 
    text-decoration: none;
    display: inline-block;
    position: relative; 
    z-index: 1; 
    transition: var(--transition); 
    overflow: hidden;

} 
.cmn-btn::before{
    content: "" ;
    position: absolute; 
    transform: translateX(-100%); 
    background-color: var(--main-color1); 
    opacity: 0.3; 
    z-index: -1; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
      border-radius: 33px; 
    transition: var(--transition);
} 
.cmn-btn:hover::before{
    transform: translateX(0);
} 
.cmn-btn:hover{
    color: var(--main-color3);
}

.subheading{
    border: 1px solid transparent;
    border-radius: 16px;
    /* background-color: transparent;   */
     background:   linear-gradient(#000, #000) padding-box,linear-gradient(-12deg , #DDCA67 , #030303 , #0C0C0B , #DDCA67) border-box; 
    color: var(--main-color1); 
    text-decoration: none;
    font-family: var(--main-arlita-r);
    font-size: 24px;
    max-width: 276px; 
    cursor: pointer; 
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
    
}  
.subheading::before{ 
    content: "";
     position: absolute; 
    transform: translateY(-100%); 
    background-color: var(--main-color1); 
    opacity: 0.1; 
    z-index: -1; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
      border-radius: 16px; 
    transition: var(--transition);
} 
.subheading:hover::before{
    transform: translateY(0);
} 
.subheading:hover{
    color: var(--main-color3);
}

/* second section */

.custom-video{
    width: 100%;   
    min-height: 500px;
    border-radius: 30px; 
    border: solid 2px var(--main-color3); 
    cursor: pointer;
} 

.cmn-btn1{
    padding: 14px 58px; 
    border-radius: 16px;
    border: 1px solid transparent;
       background:   linear-gradient(#000, #000) padding-box,linear-gradient(-12deg , #DDCA67 , #030303 , #0C0C0B , #DDCA67) border-box;
       /* max-width: 320px; */
    font-size: 25px;
    text-decoration: none;
    display: block;   
    color: var(--main-color1); 
    text-decoration: none;
    font-family: var(--main-arlita-r);  
    position: relative;
    z-index: 1;
    transition: var(--transition);
    overflow: hidden;
}  
.cmn-btn1::before{
    position: absolute;
    content: ""; 
    width: 100%;  
    height: 100%;
    border-radius: 16px;
    top: 0;
    left: 0;
    transform: translateX(100%); 
    background-color: var(--main-color1);
    opacity: 0.1; 
    transition: var(--transition); 
    z-index: -1;
} 
.cmn-btn1:hover::before{
    transform: translateX(0);
} 


.divider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 90px 0;
}
.lines-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lines-group:first-child .line {
    background: linear-gradient(to right, #0A0702, #F1E28C);
}

.lines-group:last-child .line {
    background: linear-gradient(to left, #0A0702, #F1E28C);
}

.line {
    width: 100%;
    height: 1px;
    opacity: 0.7;
}
.royal-club .h2-title{
    max-width: 879px;
} 
/* third section (card) */ 
.discover .h2-title {
    max-width: 879px;
}  
.discover  p{
    max-width: 879px;
}

.discover-img {
    position: relative;
    z-index: 1;
    display: block;        
    width: 100%;
    padding-bottom: 80px;  
   
}

.discover-img img {
    min-height: 484px;
    object-fit: cover;
    display: block;
     border-radius: 33px;
    width: 100%;           
}

.discover-img::before {
    position: absolute;
    content: "";
    bottom: -10%;  /*subtract image second iamge will be above */        
    left: 0;
    width: 100%;
    height: 60%;      /* it will be perfect shape 60% if 100% it will break*/   
    background-image: url(img/Subtract.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.discover-overlay {
    position: absolute;
    /* for text bottom 10px */
    bottom: -12px;        
    left: 0;
    width: 100%; /*it taken full width*/
    z-index: 3;
    text-align: center;
    /* padding: 0 16px; */
    color: var(--main-color1);
} 
.discover-overlay-sub {
    font-size: 14px;
    color: var(--main-color1);
    font-family: var(--main-clash-grotesk-r);
    padding-bottom: 34px;
    /* margin-top: 2px; */
}
.discover-overlay-head{
padding-top: 23px;
}
.discover-overlay-btn {
    display: inline-block;
    padding: 20px 29px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 14px;
    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(-12deg, #DDCA67, #030303, #0C0C0B, #DDCA67) border-box;
    color: var(--main-color3);
    font-size: 14px;
    text-decoration: none;
    font-family: var(--main-arlita-r); 
    /* background: transparent;  */


} 

/* our service */
.box{
    background-color: var(--main-color2);
    width: 100%; 
    min-height: 546px; 
    border-radius: 70px; 
    border: 2px solid #27220D; 
    padding: 74px;
    position: relative;
}   
.box::after{
    position: absolute;
    content: "" ; 
    width: 130px;;
    height: 5px;
    border-radius:4px ;
    top: 0;
    left: 65px; 
    background-color:var(--main-color3) ; 
    box-shadow: 0 0 12px 4px #DDCA67;
}

/* special offer table section */
.specialoffer .h2-title{
    max-width: 925px;
}
.table th {
    color: var(--main-color1); 
    text-transform: capitalize; 
    
    font-family: var(--main-clash-grotesk-r);
    font-weight: 500;
    font-size: 24px; 
    /* padding: 25px 15px;  */
    /* border-bottom: solid 1px var(--main-color3);  */
    /* border-collapse:separate ;  */
    background: none;
    position: relative;
    z-index: 1;
    border: none;
}    
.table th::after{
position: absolute; 
content:""; 
width: 153px; 
height: 2px;  
bottom: -12px; 
left: 0; 
background-color: var(--main-color3);
z-index: -1; 



}
.table td{
       color: var(--main-color1); 
    text-transform: capitalize; 
    background: none;
    font-family: var(--main-clash-grotesk-r);
    font-weight: 500;
    font-size: 24px; 
    /* padding: 25px 15px;  */
    border-radius: 50px;  
    border: none;
  

} 
.table tr {
    margin: 38px 0;
}
.table {
    border-collapse: separate;  
      border-spacing: 0 20px;
  
}  
.cmn-btn2{
    display: inline-block;
    padding: 7px 42px;
    border: 1px solid transparent;
    border-radius: 20px;
  
    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(-12deg, #DDCA67, #030303, #0C0C0B, #DDCA67) border-box;
    color: var(--main-color1);
    font-size: 18px;
    text-decoration: none;
    font-family: var(--main-arlita-r); 
    /* background: transparent;  */ 
    margin-bottom: 44px;
}

/* mission */ 
.mission h6{
    max-width: 715px;
}
.client-section{
    padding: 28px 0;
}
.card{
    border: 1px solid var(--main-color3); 
    border-radius: 16px;
    background-color: transparent; 
    position: relative; 
    max-width: 362px;
    min-height: 581px;
    margin-right: 12px;
} 
.card-img-top{
    border-radius: 16px;
    width: 100%;
    display: block; 
    position: relative; 
    z-index: 1;
} 
.card-body{
    position: absolute;
    left: 20px; 
    bottom: 30px; 
    z-index: 2; 
    /* padding: 0; */
    /* margin: 0 auto; */
} 
.image-overlay{
    position: absolute;
    bottom: 0;
    /* margin-bottom: 6px;  */
    /* left: 0; */
    height: 94px;
    width: 100%;
}
.card-title{
    font-family: var(--main-arlita-r);
    font-weight: 500;
    font-size: 30px;
    color: var(--main-color1);
 text-transform: capitalize;



}
.card-text{
    color: var(--main-color1); 
    font-family:var(--main-arlita-r) ;
    text-transform: capitalize; 
    
} 

/* our clients say flying  */ 
.our-client .h2-title{
    max-width: 625px; 
    margin: 40px 0;
 
}  
.our-client{
 
    /* padding: 20px; */  
    padding: 20px 0;

} 
.testimonal-box{
       background: linear-gradient(#000, #000) padding-box,
                linear-gradient(-12deg, #0C0C0B, #0C0C0B , #DDCA67 ,#DDCA67) border-box; 
      border: 1px solid transparent;
    border-radius: 20px; 
    padding: 51px;  
    position: relative; 


}  

.testimonal-btn{
    position: absolute; 
    z-index: 999; 
    top: -30px; 
    left: 528px;

} 
.testimonal-img{
   max-width: 678px;
   width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
}
.box1{
    max-width: 654px; 
    min-height: 174px; 
    border:1px solid rgba(241,226,140,0.51);
    margin: 18px 0 7px; 
    position: relative;
    z-index: 1; 
border-radius: 10px; 

}  
.client-box{
    max-width: 664px; 
    min-height: 371px; 
    padding: 18px 20px; 
    box-shadow: inset 0 0 12px 7px  rgb(39, 31, 14); 
    border-radius: 10px; 
    margin: 12px 0;
}
.client-image{
    object-fit: contain; 
    width: 126px;
    height: 166px; 
    padding-left: 12px;
} 
.client-text , .client-title{
    color: var(--main-color1); 
    padding: 12px 6px 0 ;
    text-transform: capitalize;
} 
.client-title{
    font-size: 20px; 
    font-family: var(--main-clash-grotesk-r);
    font-weight: 600; 

} 
.client-text{
        font-size: 18px; 
    font-family: var(--main-clash-grotesk-r);
    font-weight: 400; 
} 
.star-logo{
position: absolute;
z-index: 2; 
width: 50px;
height: 50px; 
/* bottom: 150px; */ 
top: -24px;
right: -25px;

} 
.box2{
    padding: 34px 43px ; 
    background-color: transparent; 
    border: 1px solid var(--main-color3) ; 
    max-width: 608px; 
    min-height:336px; 
    border-radius: 16px; 
    position: relative; 
    z-index: 1; 
    margin: 12px 0;
} 
.bar1{
    position: absolute; 
    z-index: 2; 
    top: 12px; 
    left: 24px;   
    background-color: var(--main-color3); 
    width: 88px; 
    height: 3px; 
    box-shadow:  0 0 12px 4px var(--main-color3);
}
.cmn-p2{
    max-width: 519px; 
    font-size: 18px;
    font-family: var(--main-clash-grotesk-r); 
    font-weight: 400; 
    color: var(--main-color1);
} 
.student-title{
font-size: 18px; 
font-family: var(--main-clash-grotesk-r); 
font-weight: 500; 
color: var(--main-color1);
margin-left: 9px;
} 
.student-text{
font-size: 14px; 
font-family: var(--main-clash-grotesk-r); 
font-weight: 500; 
color: var(--main-color1); 
margin-left: 9px; 
} 
.student-image{
    width: 56px; 
    height: 56px;
}  


/* join aviation club */ 
.join-aviation-club{
    padding: 204px 0;
} 
.join-aviation-club .h2-title{
    color: var(--main-color3);
        margin: 51px 0 33px;
} 
.join-aviation-club-title{
        font-family: var(--main-clash-grotesk-r);
    font-size: 200px;
    font-weight: 600;
}
 .join-aviation-club p{
    max-width: 527px;
    font-family: var(--main-clash-grotesk-r);
    font-size: 30px;
    line-height: 1.2;
    /* margin-bottom: 84px; */
 }   
 .join-avitation-content{
    border-radius: 50px; 
    /* background-color: #080806;  */
    box-shadow:  0  0 16px 14px rgb(39,34 , 13); 
    /* border: 2px solid var(--main-color3); */
    padding: 44px;
    margin: 0 0 43px ;
 }
 .form-label {
     font-family: var(--font-ClashDisplay);
    font-size: 20px;
    color: var(--main-color1); 
    text-transform: capitalize;
    margin-left: 20px;
    margin-bottom: 21px;
}
.form-control {
    background: none;
    border-radius: 16px;
    border: 1px solid rgba(221,202,103,0.5);
    padding: 22px 20px;
    margin-bottom: 32px;
}


/* footer */
.footer-img{
    max-width: 169px; 
    min-height: 169px;
}
.footer{
       border: 1px solid transparent;
    border-radius: 20px;
  
    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(-12deg, #DDCA67, #030303, #0C0C0B, #DDCA67) border-box;
}
.footer-text{
   
    font-family: var(--main-clash-grotesk-r); 
    max-width: 468px; 
    min-height: 111px; 
    font-size:25px ;
    font-weight: 400;
} 
.footer ,p{
 color: #FFF;
}
.footer-head {
    padding-left: 0;
} 


.footer-link a{
      font-family: var(--main-clash-grotesk-r);
    font-weight: 400;
    font-size: 22px; 
    text-transform: capitalize; 
    text-decoration: none;
    color: var(--main-color1);
    transition: all 0.3s ease;
    transform: scale(0.8);

} 
.footer-link a:hover{
transform: scale(1);
    color: var(--main-color3);
}
.footer-link{
    margin-top: 14px;
} 
.footer-text{
         font-family: var(--main-clash-grotesk-r);
    font-weight: 400;
    font-size: 22px; 
    text-transform: capitalize; 
    text-decoration: none;
    color: var(--main-color1);
} 

.cmn-gap7{
    padding: 0 0 64px;
} 
.subscribe-box{
    position: relative;
    max-width: 650px;
}

input[type="email"]{
    width: 100%;
    background: none;
    padding:  22px 130px 22px 30px;
    border-radius: 50px;
    border: 2px solid var(--main-color3);
    outline: none;
    font-size: 15px; 
    color: var(--main-color1); 
    font-family: var(--main-clash-grotesk-r);
}
input::placeholder{
    color: var(--main-color1);
}
.cmn-btn3{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: var(--main-color4);
    color: var(--main-color2);
    text-decoration: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 25px;
    display: inline-block;
}

.footer-circle{
    display: flex; 
    flex-wrap: wrap;
    margin: 12px 0;
}  
.circle{
    width: 50px; 
    height: 50px; 
border: 1px solid var(--main-color3); 
border-radius: 50%; 
padding: 14px;
} 
.circle i{
    font-size: 20px; 
    color: var(--main-color3);
}

.footer-country-text{
    font-family: var(--main-clash-grotesk-r); 
    font-size: 25px; 
    font-family: 400; 
    text-transform: capitalize; 
    color: var(--main-color1);
}  
.footer-country-text a{
    text-decoration: none; 
        font-family: var(--main-clash-grotesk-r); 
    font-size: 25px; 
    font-family: 400; 
    text-transform: capitalize;
    color: var(--main-color1);

}
.divider{
    background-color: var(--main-color3);
    height: 30px;
    width: 2px; 
    margin: 2px 5px;
}
.footer-country{
    display: flex; 
    flex-wrap: wrap;
} 
.divider1{
    width: 100%; 
    height: 1px;
    background-color: var(--main-color3);
    margin: 30px 0;
}


/* =========================
   1200px
========================= */
@media screen and (max-width:1200px){
.testimonal-btn{
    left:420px;
}


h1,.h1-title{
    font-size:70px;
    max-width:700px;
}

h2,.h2-title{
    font-size:55px;
}

.hero-banner{
    min-height:700px;
}

.join-aviation-club-title{
    font-size:160px;
}

.box{
    padding:50px;
}

.testimonal-box{
    padding:40px;
}

.cmn-gap{
    padding:90px 0;
}

.join-aviation-club{
    padding:150px 0;
}

.footer-text{
    font-size:20px;
}

.cmn-p{
    font-size:20px;
} 
 .card{
    width: 100%;  
    height: 100%;

 }


}


/* =========================
   900px
========================= */
@media screen and (max-width:900px){

.testimonal-btn{
    left:260px;
   
}
.join-aviation-img{
width: 100%;
height: 100%;
}  
.table .discover-overlay-btn{
    padding: 4px 3px;
}
.cmn-btn1{
    padding:12px 40px;
    font-size:22px;
}

.testimonal-box{
    padding:40px;
} 
.discover-overlay-head{
    padding-top: 23px;
}


h1,.h1-title{
    font-size:55px;
    max-width:100%;
}

h2,.h2-title{
    font-size:45px;
}

h3,.h3-title{
    font-size:26px;
}

h4,.h4-title{
    font-size:38px;
}

.hero-banner{
    min-height:600px;
}

.cmn-gap{
    padding:70px 0;
}

.cmn-p{
    font-size:18px;
}

.box{
    padding:35px;
    min-height:450px;
}

.testimonal-box{
    padding:30px;
}

.client-box{
    min-height:320px;
}

.box2{
    padding:25px;
    min-height:300px;
}

.join-aviation-club{
    padding:120px 0;
}

.join-aviation-club-title{
    font-size:110px;
}

.join-aviation-club p{
    font-size:24px;
}

.form-control{
    padding:18px;
}

.footer-text{
    font-size:18px;
}

.footer-link a{
    font-size:18px;
}

.cmn-btn3{
    font-size:20px;
}
.table {
    display:block;
    overflow-x:auto;
   
}
 .join-aviation-img{
    padding: 73px 0;
 }
 .card{
    width: 100%;  
    height: 100%;

 }

}

/* =========================
   540px
========================= */
@media screen and (max-width:540px){


.testimonal-btn{
    left:160px;
   
}

.cmn-btn1{
    padding:8px 18px;
    font-size:16px;
}

.testimonal-box{
    padding:15px;
}

 .card{
    width: 100%;  
    height: 100%;

 }
h1,.h1-title{
    font-size:40px;
}

h2,.h2-title{
    font-size:34px;
}

h3,.h3-title{
    font-size:22px;
}

h4,.h4-title{
    font-size:30px;
}

.hero-banner{
    min-height:500px;
}

.cmn-gap{
    padding:50px 0;
}

.cmn-p{
    font-size:16px;
}

.cmn-btn{
    padding:12px;
    font-size:18px;
}

.cmn-btn1{
    padding:12px 25px;
    font-size:18px;
}

.box{
    padding:20px;
    min-height:380px;
}

.testimonal-box{
    padding:20px;
}

.client-box{
    min-height:280px;
}

.box2{
    padding:18px;
    min-height:280px;
}

.join-aviation-club{
    padding:80px 0;
}

.join-aviation-club-title{
    font-size:70px;
}

.join-aviation-club p{
    font-size:18px;
}

.form-control{
    padding:14px;
}

.footer-text{
    font-size:16px;
}

.footer-link a{
    font-size:16px;
}

.footer-country-text,
.footer-country-text a{
    font-size:16px;
}

.cmn-btn3{
    padding:10px 16px;
    font-size:16px;
}
/* .discover-overlay-head .discover-overlay-sub{
    padding: 14px 0 2px 0;
} */

}


/* =========================
   320px
========================= */
@media screen and (max-width:320px){

.testimonal-btn{
    left:50px;
    right: 50px;
   
}
.discover-overlay{
    bottom: -23px;
}

h1,.h1-title{
    font-size:32px;
}

h2,.h2-title{
    font-size:26px;
}

h3,.h3-title{
    font-size:18px;
}

h4,.h4-title{
    font-size:22px;
}

.hero-banner{
    min-height:420px;
}

.cmn-gap{
    padding:40px 0;
}

.cmn-p{
    font-size:14px;
}

.cmn-btn{
    padding:10px;
    font-size:16px;
}

.cmn-btn1{
    padding:10px 15px;
    font-size:16px;
}

.box{
    padding:15px;
    min-height:340px;
}

.testimonal-box{
    padding:15px;
}

.client-box{
    min-height:260px;
}

.box2{
    padding:15px;
    min-height:260px;
}

.join-aviation-club{
    padding:60px 0;
}

.join-aviation-club-title{
    font-size:50px;
}

.join-aviation-club p{
    font-size:16px;
}

.form-control{
    padding:12px;
}

.footer-text{
    font-size:14px;
}

.footer-link a{
    font-size:14px;
}

.footer-country-text,
.footer-country-text a{
    font-size:14px;
}

.cmn-btn3{
    padding:8px 12px;
    font-size:14px;
}

}
