*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
} 
:root{
    --main-color1:#F6F5F1; 
    /* --main-color2:#F6F5F1; */ 
    --main-color2:#080806; 
    --main-color3:#DDCA67;
    --main-color4:#DBC761;
    --main-color5:#F1E28C; 
    --main-color6:#0A0702; 
    --main-color7:#090906; 
    --main-color8:#090601; 
    --main-clash-grotesk-r:"clash-Grotesk-Regular";  
    --main-arlita-r:"Arlita-regular" ;  
    --main-clash-display-r:"ClashDisplay-regular"; 
    --transition:all 0.4s linear;


} 
@font-face {
    font-family:"clash-Grotesk-Regular";
    src: url(fonts/ClashGrotesk_Complete/ClashGrotesk_Complete/Fonts/OTF/ClashGrotesk-Regular.otf) format(opentype);
} 
@font-face {
    font-family:"Arlita-regular" ;
    src: url(fonts/arlita/Arlita.otf) format(opentype);
} 
@font-face {
    font-family: "ClashDisplay-regular";
    src: url(fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf) format(opentype);
} 

.container{
    max-width:1520px ; 
    margin: 0 auto;
} 
.cmn-gap{
    margin-top: 112px;
}
.cmn-gap1{
    margin-top: 51px;
} 
.cmn-gap2{
    margin-top: 37px;
} 
.cmn-gap3{
    margin-bottom: 55px;
} 
.cmn-gap4{
    margin-top: 110px;
}
html{
    scroll-behavior: smooth;
} 
body{
 background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(img/plane.png);
 background-position: center;
 background-repeat: repeat-y;
 background-size: cover;
min-height: 100vh;

}
h1,.h1-title{
     font-family: var(--main-arlita-r);
    font-weight: 500;
    font-size: 80px;
    max-width: 828px;  
    color: var(--main-color1);
    text-transform: capitalize;

 
   
} 
h2,.h2-title{
    font-family: var(--main-arlita-r); 
    font-size: 60px; 
    font-weight: 500;
    text-transform: capitalize; 
    color: var(--main-color1);

}
/* starting  navabar */ 
.header{
    background-color: var(--main-color2);
 
} 

.nav-item > a{
 color: var(--main-color1); 
 font-family: var(--main-clash-display-r); 
 font-weight: 500;
 font-size: 20px;
 text-transform: capitalize;  
 /* border-bottom: 2px solid transparent ;  */
 transition: all 0.3s ease-in;
position: relative; 

} 
.nav-item a:hover{
    color: var(--main-color3); 
    /* border-bottom: 2px solid var(--main-color3);  */
    transform: scale(0.9);
}   
/* create design */
.nav-item a:hover::after{
      position: absolute;
    content: ""; 
    width: 10px;
    height: 15px;
   
    right: -12px;
    bottom: -8px;
    border-bottom: 2px solid var(--main-color3) ; 
    border-right:2px solid var(--main-color3) ;  
    
     transform: scale(0.9);
   
} 
.nav-item a:hover::before{
       position: absolute;
    content: ""; 
    width: 10px;
    height: 15px; 
   left: -12px;
top: -8px;
border-top: 2px solid var(--main-color3) ; 
    border-left:2px solid var(--main-color3) ; 
     transform: scale(0.9);
}
.color {
    color: var(--main-color1); 
    max-width: 35px;
    height: 35px; 
    transition: all 0.3s ease-in;
}  
.color:hover{
    color: var(--main-color3);
}
.color2{
    color: var(--main-color3);
} 
.logo{
    max-width: 169px; 
    display: block;
}
/* banner section */
.hero-banner{
   background-image:
/* linear-gradient(
to left,
rgba(254,255,255,0.1)29%,
rgba(100,100,100,0.2)67%
) , linear-gradient(to top, rgba(255,255,255,0.1)78% , rgba(0,0,0,0.1)88%),  */
url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 800px;
      display: flex;
    align-items: center;

} 
.cmn-p{
    font-family: var(--main-clash-grotesk-r); 
    font-weight: 400; 
    font-size: 22px;  
    margin: 37px 0 51px;
    /* text-align: justify;  */
    max-width: 661px;
    color: var(--main-color1);
} 
.cmn-btn{
    padding: 26px 15px; 
    background-color: var(--main-color2); 
    opacity: 0.45; 
    border-radius: 33px; 
    border: solid 2px var(--main-color1);
    font-family: var(--main-arlita-r); 
    font-weight: 400; 
    font-size: 24px;
    color: var(--main-color3);
    text-transform: capitalize; 
    text-decoration: none;
    display: inline-block;
    position: relative; 
    z-index: 1; 
    transition: var(--transition); 
    overflow: hidden;

} 
.cmn-btn::before{
    content: "" ;
    position: absolute; 
    transform: translateX(-100%); 
    background-color: var(--main-color1); 
    opacity: 0.3; 
    z-index: -1; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
      border-radius: 33px; 
    transition: var(--transition);
} 
.cmn-btn:hover::before{
    transform: translateX(0);
} 
.cmn-btn:hover{
    color: var(--main-color3);
}

.subheading{
    border: 1px solid #F6F5F1;
    border-radius: 16px;
    background-color: transparent; 
    color: var(--main-color3); 
    text-decoration: none;
    font-family: var(--main-arlita-r);
    font-size: 24px;
    max-width: 276px; 
    cursor: pointer; 
    position: relative; 
    z-index: 1; 
    overflow: hidden;
}  
.subheading::before{ 
    content: "";
     position: absolute; 
    transform: translateY(-100%); 
    background-color: var(--main-color1); 
    opacity: 0.1; 
    z-index: -1; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
      border-radius: 16px; 
    transition: var(--transition);
} 
.subheading:hover::before{
    transform: translateY(0);
} 
.subheading:hover{
    color: var(--main-color3);
}

/* second section */

.custom-video{
    width: 100%;   
    min-height: 500px;
    border-radius: 30px; 
    border: solid 2px var(--main-color3); 
    cursor: pointer;
} 

.line{
    background: linear-gradient(rgb(	241,	226,	140 ),rgb(	10,	7,	2 ),rgb(	241,	226,	140 ),rgb(	10,	7,	2)); 
    width: 35%; 
    /* I used width: 35% because without flex, both <hr> tags and the button must fit in one line manually.
First <hr> = 35%
Button area ≈ 20%
Second <hr> = 35% */
    height: 20px;

  
} 
.cmn-btn1{
    padding: 14px 58px; 
    border-radius: 16px;
    border: 2px solid var(--main-color1); 
    font-size: 25px;
    text-decoration: none;
    display: inline-block;   
    color: var(--main-color3); 
    text-decoration: none;
    font-family: var(--main-arlita-r);  
    position: relative;
    z-index: 1;
    transition: var(--transition);
    overflow: hidden;
}  
.cmn-btn1::before{
    position: absolute;
    content: ""; 
    width: 100%;  
    height: 100%;
    border-radius: 16px;
    top: 0;
    left: 0;
    transform: translateX(100%); 
    background-color: var(--main-color1);
    opacity: 0.1; 
    transition: var(--transition); 
    z-index: -1;
} 
.cmn-btn1:hover::before{
    transform: translateX(0);
} 

.horizental-line{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:149px 0px 28px 0px;
} 
.royal-club .h2-title{
    max-width: 800px;
} 
/* third section (discover) */
.discover .h2-title{
    max-width: 800px;
}  
.discover-img{
    position: relative; 
    z-index: -1; 
    display: inline-block;
}
.discover-img img{
      min-height: 350px;
   object-fit: cover; 
  
   display: block;

}   

.discover-img::before{
    position: absolute;
    content: ""; 
    bottom: -50%;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url(img/Subtract.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    z-index: 1;
} 

@media (max-width:800px) {
    .discover-img img{
        min-height: 260px;
        width: 100%; 
    } 
    .discover-img{
        margin: 40px 0;
        display: flex;
        justify-content: center;
    }
}
